.parent {
  display: flex;
  justify-content: center;
}

@media (max-width: 510px){
    .img{
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 380px){
    .img{
        width: 200px;
        height: 200px;
    }
}